script.
	//what to do with the remainder tree
	var remainderFunction = function() {
			if('#{remainder}' == '0px') {
			console.log("no remains")
				console.log('#{fulltree}')
			if ('#{fulltree}' == 1) {
				$('#treetext').html("Woohoo, you have a tree!")
				}
			else {
				$('#treetext').html("Check out your trees!")
				}
			//if not 0px fill the tree up to the remainder amount and show remaindertree
		} else if ('#{remainder}' !== '0px') {
			$('.remainderTree').css('height', '#{remainder}')
			$('.remainderTree').css('visibility', 'visible')
			if ('#fulltree' < 1) {
				$('#treetext').html("Looks like you need to donate more to plant a full tree")
				}
			else {
				$('#treetext').html("Donate more to grow your forest")
				}	
		}
	}
	//Display driving statistics
	var kmFunction = function () {
		$.get('/totals', (res) => {
			if(res.sumKM == 0) {
				console.log("no driving history")
				$('#kmtext').html("You have no driving record yet.")
				}
			else if (res.sumKM !== 0) {
				$('#kmtext').html("You have driven " + res.sumKM + " kilometers" )
				}
		})
	}
	//what to display when no money has been donated yet
	var noMoneyFunction = function () {
		$.get('/totals', (res) => {
			if(res.sumDonation == 0) {
			console.log("nothing donated yet")
			$('.nomoneytree').css('visibility', 'visible')
			$('#treetext').html("Looks like you haven't donated yet. Please donate so we can plant some trees!")
		}
		})
		
	}

	//configure animate.css
	$.fn.extend({animateCss: function (animationName) {
		var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
			this.addClass('animated ' + animationName).one(animationEnd, function() {
			$(this).removeClass('animated ' + animationName);
			});
		}
	});

	$(document).ready(function() {
		console.log("ready")

		$.get('/totals', (res)=> {
			console.log(res.sumKM)
			console.log(res.sumDonation)
			kmFunction()
			if (res.sumDonation == 0) {
			noMoneyFunction()
				console.log("i'm broke nigga, i'm broke")
			} else if (res.sumDonation !== 0) {
			remainderFunction()
			}
		})

		$('.tahrees').animateCss('wobble')
		$('.tree').css('height', '100px')
	})