html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug
	body
		include includes/navbar.pug
		main 
			div.container 
				div.row
					div#forest 
						h3#test omg them trees!
						-	for (var x=1, y= x + 'tree'; x < data.fulltree; x++) 
								div.tahrees.treecontainer
									div(id=y, class='tree')
										div
											img(src='/images/tree2.png')
							
	
						div.tahrees.remainderTreecontainer
							div.remainderTree
								div
									img(src='/images/tree2.png')
	footer.page-footer
		div.container
			div.row
				div.col-16-s12
					p.grey-text.text-lighten-4 Thank you for thinking of the environment!
		div.footer-copyright
			div.container  © 2016 Copyright COtree

script.
	//what to do with the remainder tree
	var remainderFunction = function() {
		//hide when there is no remainder
		if('#{data.remainder}' == '0px') {
			console.log("no remains")
			$('.remainderTree').css('visibility', 'hidden')
			$('.tree').hover( function (){
				$('.tree').css('background-color', 'green')
			}, function(){
				$('.tree').css('background-color', '#4CAF50')
			})
			//if there is fill the tree up to the percentage of the remainder amount
		} else if ('#{data.remainder}' !== '0px') {
			$('.remainderTree').css('height', '#{data.remainder}')
			$('.remainderTree').hover( function (){
				$('.remainderTree').css('background-color', 'green')
			}, function(){
				$('.remainderTree').css('background-color', '#4CAF50')
			})			
		}
	}
	//what to display when no money has been donated yet
	var noMoneyFunction = function () {
		if('#{data.donationAmount}' == 0) {
			console.log("nothing donated yet")
			$('.remainderTree').css('background-color', '#bdbdbd')
			$('.remainderTree').css('height', '100px')
			$('.remainderTree').css('opacity', '0.2')
			$('.remainderTree').hover( function (){
				$('.remainderTree').css('opacity', '0.5')
			}, function(){
				$('.remainderTree').css('opacity', '0.2')
			})	
		}
	}
	//configure animate.css
	$.fn.extend({animateCss: function (animationName) {
		var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
			this.addClass('animated ' + animationName).one(animationEnd, function() {
			$(this).removeClass('animated ' + animationName);
			});
		}
	});
	
	$(document).ready(function() {
		if ('#{data.donationAmount}' == 0) {
			noMoneyFunction()
			} else if ('#{data.donationAmount}' !== 0) {
			remainderFunction()
			}
		$('.tahrees').animateCss('wobble')
		
	})


